.App{
 margin-top: 2rem;
 width: 20rem;
 border: 2px solid blue;
 padding: 0.5rem;
border-radius: 20px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

@media screen and (max-width:290px) {
    .App{
        border: 2px dashed pink;
        margin: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}